
@{
    ViewBag.Title = "ComentarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="-d-flex flex-sm-column align-items-start justify-content-center flex-md-row row" style="margin-top: 10vh; padding-inline: 5rem;">
    <div class="col col-md-5" style="height: 80vh;">
        <img src="~/Content/CSS/register.png" class="h-100 w-100" />
    </div>

    <div class="col col-md-3" style="height: 80vh;">
        <div class="col px-2 py-2" style="height: 60vh; overflow: scroll; background-color: yellow;">
            <div class="bg-light d-flex justify-content-start align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div style="width: 50px; height: 50px;">
                    <img src="~/Content/CSS/InstaMazz.jpg" class="img-circle h-100 w-100" />
                </div>
                <div>
                    <p class="text-black">Guillermo Mazzari</p>
                </div>
                @*<div>
                <p class="text-black">Descripcion de la publicacion</p>
            </div>*@
            </div>
            <!--TODO: FOREACH-->
            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>

            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>

            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>

            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>

            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>

            <div class="text-decoration-none bg-light d-flex flex-column justify-content-center align-items-center gap-3 p-3" style="margin-bottom: 1rem; padding-right: 1rem; border-radius: 16px; width: 100%;">
                <div class="d-flex justify-content-start align-items-center gap-3" style="width:100%;">
                    <div style="width: 50px; height: 50px;">
                        <img src="~/Content/CSS/avatar.jpg" class="img-circle h-100 w-100" /> <!--Imagen de perfil del que hace el comentario-->
                    </div>
                    <div>
                        <p class="text-black">Lucas Paz</p> <!--Nombre del que hace el comentario-->
                    </div>
                </div>
                <div style="width:100%;">
                    <p>Hola soy un comentario</p> <!--Comentario-->
                </div>
            </div>
        </div>
        <div class="col col-md-3 py-2" style="height: 17vh; width: 100%; overflow: scroll; background-color: red; margin-top: 3vh;">
        <p>ACA INSERTAS EL COMENTARIO</p> <!--Box para crear el nuevp comentario-->
    </div>
    </div>
    

</div>
