
@{
    ViewBag.Title = "Crear Pubicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card shadow" style="width: 33rem; margin:auto; margin-top:25vh;">
    <div class="card-body">
        <div class="ms-3">
            <h2 class="fw-bold">Crear Publicación</h2>
        </div>

        <form action="@Url.Action("CrearPost", "Post")" method="post">
            <div class="form-group">
                <input name="IdUsuario" type="number" class="form-control card-text" value="@ViewBag.IdUsuario" style="display:none">
            </div>
            <div class="form-group">
                <input name="UserName" type="text" class="form-control card-text" value="@ViewBag.UserName" style="display:none">
            </div>
            <div class="form-group">
                <input name="UrlImg" type="url" class="form-control card-text" placeholder="URL de la imagen">
            </div>
            <div class="form-group">
                <input name="Titulo" type="Text" class="form-control card-text" placeholder="Titulo">
            </div>
            <div class="form-group">
                <input name="Descripcion" type="text" class="form-control card-text" placeholder="descripción">
            </div>
            <div class="my-2" style="display:grid; place-content: center;">
                <button type="submit" class="btn text-primary border border-primary bi bi-node-plus-fill shadow"> Crear Publicación</button>
            </div>
        </form>

    </div>

</div>






@*<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>*@