@{
    ViewBag.Title = "Eliminar Publicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Publicacion</h1>

<form action="@Url.Action("Delete", "Post")" method="post">

    @*<input name="IdPost" type="number" class="form-control" value="@ViewBag.IdPost">*@
    <input name="IdPost" type="number" class="form-control" value="@ViewBag.IdPost" disabled style="display: none">

    <div class="alert alert-danger" role="alert" style="Width:280px">
        ¿Deseas eliminar la publicacion?
    </div>

    <button type="submit" class="btn btn-danger"><i class="bi bi-person-x"></i> Eliminar</button>
</form>


