
@{
    ViewBag.Title = "FeedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Feed = ViewBag.Feed;
}

<h2>INICIO</h2>

@foreach (var item in Feed)
{ 
    <div class="container-fluid" style="display: flex; flex-direction: column; align-items: center; justify-content: left; gap:2px;">
        <img @item.UrlImg style="width: 200px; height: 200px;" />
        <p>@item.UserName</p>
        <p style="max-width:200px;">@item.Descripcion</p>
        <br />        
    </div>
}

