
@{
    ViewBag.Title = "SolicitudesVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var solicitudes = ViewBag.listaSolicitudes;
}
<div style="margin-top: 10vh;">
    <h2>SolicitudesVista</h2>
</div>

@foreach (var item in solicitudes)
{
    <div class="d-flex gap-3">
        <p>@item.Nombre</p>
        <p>@item.UserName</p>
    </div>
}


