
@{
    ViewBag.Title = "SolicitudesVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var solicitudes = ViewBag.listaSolicitudes;
}
<div class="row" style="margin-top: 10vh; margin-left: 3vw; margin-right: 3vw;">
    <h2>SolicitudesVista</h2>
    @foreach (var item in solicitudes)
    {
        <div class="card col-xs-12 col-md-3 p-0 me-2 mb-2" @*style="width: 18rem;"*@>
            <img src="/Upload/@item.imagenPerf" class="card-img-top h-100 w-100">
            <div class="card-body">
                <h3 class="card-title">@item.Nombre</h3>
                <h5 class="card-text">@item.UserName</h5>
                <div>
                    <a href="#" class="btn btn-sm btn-success">Aceptar solicitud</a> 
                    <a href="#" class="btn btn-sm btn-danger">Rechazar solicitud</a>
                </div>
            </div>
        </div>        
    }
</div>




@*<div class="card col-xs-12 col-md-7 col-lg-5">
    <div class="row g-0 p-0">
        <div class="col-xs-12 col-md-6 p-0">
            <img src="/Upload/@item.imagenPerf" class="img-fluid rounded-start h-100 w-100">
        </div>
        <div class="col-xs-12 col-md-6 p-0">
            <div class="card-body">
                <h2 class="card-title">@item.Nombre</h2>
                <p class="card-text">@item.UserName</p>
            </div>
        </div>
    </div>
</div>
<br />*@


