
@{
    ViewBag.Title = "BuscarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Buscar = ViewBag.Buscar;
}

<div class="px-5">

    @*<div>
        @using (Html.BeginForm("Buscar", "Home"))
        {
            <div class="search">
                <input type="text" name="Nombre"><button type="submit">Search</button>
            </div>
        }
    </div>*@


    <form action="@Url.Action("Search","Home")" method="post">
        <div class="input-group">
            <input name="Nombre" type="text" class="form-control"/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </div>
    </form>


    <div class="container">
        @foreach (var item in Buscar)
        {

         <div class="row">
             <div class="col-3">
                 <img src="/Upload/@item.imagenPerf" class="rounded-circle img-fluid h-10 w-10" />
             </div>
             <div class="col-3">
                 <h2>Nombre: @item.Nombre</h2>
                 <p>User Name: @item.UserName</p>
             </div>
         </div>
         <br />          
        }
    </div>
</div>