
@{
    ViewBag.Title = "BuscarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Buscar = ViewBag.Buscar;
}
<body class="p-0" style="background-color: #E5E5E5">
    <div style="background-color: #E5E5E5; border: none;" class="card p-5 d-flex flex-column justify-content-center">

        @*<div>
                @using (Html.BeginForm("Buscar", "Home"))
                {
                    <div class="search">
                        <input type="text" name="Nombre"><button type="submit">Search</button>
                    </div>
                }
            </div>*@

        <div class="container">
            <form action="@Url.Action("Search","Home")" method="post">
                <div class="input-group">
                    <input name="Nombre" type="text" class="form-control" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </div>
                </div>
            </form>
            <br />
       
            @foreach (var item in Buscar)
            {

                <div class="card rounded d-flex flex-row gap-3 p-3" style="width: 35vw">
                    <div style="height:150px; width:150px">
                        <img src="/Upload/@item.imagenPerf" class="rounded-circle img-fluid h-100 w-100" />
                    </div>
                    <div>
                        <h2>Nombre: @item.Nombre</h2>
                        <h4>User Name: @item.UserName</h4>
                        @*<a>@Html.ActionLink("ir a perfil", "Index", "Home")</a>*@                       
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</body>